h1{
	font-size: 18px;
	font-weight: bold;
}

.board{
	width: 600px;
	position: relative;
	height: 640px;
	background: url('../images/board/japanese-chess-b02.jpg');
	}

.piece_area{
	position: absolute;
	width : 60px;
	height: 65px;
}

.topstack{z-index: 100000;
			background-color: #FFFFFF;}
.piece{
}
.selected{
    background-color: rgba(51,51,51,0.6);
 }

.movable{
	background-color:  rgb(51,81,51,0.6);
}

.x9{left:30px;} .x8{left:90px;} .x7{left:150px;} .x6{left:210px;} .x5{left:270px;}
 .x4{left:330px;} .x3{left:390px;}.x2{left:450px;} .x1{left:510px;}

.y1{top:29px;} .y2{top:92px;} .y3{top:156px;} .y4{top:219px;} .y5{top:284px;}
.y6{top:348px;} .y7{top:413px;}.y8{top:478px;} .y9{top:543px;}

#debug{
	border: 1px dotted #999999;
	width: 600px;
	height: 300px;
	margin-top: 10px;
	line-height: 120%;
	overflow-y : scroll;
}







